body {
  margin: 0px;
  padding: 0px;
  background: url(images/9th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type='text'],
input[type='password'] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
background-color: #4caf50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container1 {
padding: 50px;
margin: 0 auto;
width: 50%;
background-color: #eee;
border: 4px solid #eee;
border-radius: 5px;
}

span.psw {
float: right;
padding-top: 16px;
}
@media screen and (max-width: 300px) {
span.psw {
  display: block;
  float: none;
}
}
.clearfix::after {
content: '';
clear: both;
display: table;
}

.topnav{
  margin-top: 20px;
  padding: 60px;
  margin: 0 auto;
  border-radius: 5px; 
}
.btn1 {
  background-color: green; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 10px;
  float: left;
  margin-left: 37%;
  width:100px;
}
.btn2 {
  background-color: green; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 10px;
  float: right;
  margin-right: 37%;
  width:100px;
}
.main{
  width: 50%;
  height: 30%;
  padding: 30px;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 5px;
  font-size: 20px;
}
.btn:hover {
  background-color: green;
}
.container{
  margin-top: 150px;
  align-content: center;
  color: #008000;
  margin-right: 60px;
  background-color: #fff;
}

td {
background: white;
padding: 20px;
}

td a:hover {
color: #008000
}

th {
background: #008000;
color: white;
}
legend {
  background-color: #008000;
  color: #fff;
  padding: 3px 6px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

label {
  text-align: right;
  width: 20%;
}
.msg{
  background-color: hsla(hue, saturation, lightness, alpha);
  margin-right: 30%;
  margin-left: 13%;
  padding: 16px 25px;
  color: #053a07;
  font-size: 40px;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  size: 40px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}
a.button1 {
  -moz-appearance: button;
  size: 200px;
  background-color: #4CAF50; 
  border-radius: 100px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 22%;
  margin-left: 50%;
  
}
a.button2 {
  -moz-appearance: button;
  size: 200px;
  background-color: #4CAF50; 
  border-radius: 100px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 2%;
  
}