body {
  margin: 0px;
  padding: 0px;
  background: url(images/9th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  

  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  background-color: darkkhaki;
  color: black;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #008000;
}

/* Right-aligned section inside the top navigation 
.topnav-right {
  float: right;
  border: 4px solid white;
  border-radius: 5px;}*/

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type='text'],
input[type='password'] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
background-color: #4caf50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container {
padding: 70px;
margin: 0 auto;
width: 50%;
background-color: #eee;
padding: 16px;
border: 4px solid #eee;
border-radius: 5px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
  display: block;
  float: none;
}
.cancelbtn {
  width: 100%;
}
}

/* Clear floats */
.clearfix::after {
content: '';
clear: both;
display: table;
}

/* The sidebar menu */
.sidenav {
height: 100%; /* Full-height: remove this if you want "auto" height */
width: 160px; /* Set the width of the sidebar */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black */
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px;
}
button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.sidebar{
  width: 20%;
  height: 60%;
  background-color: hsla(hue, saturation, lightness, alpha);
  float: left;
  margin-top: 200px;
  
}
.btn {
  background-color: green; 
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}
.btn:hover {
  background-color: green;
}
.container{
  margin-top: 150px;
  align-content: none;
  float: right;
  color: #008000;
}

td {
background: white;
padding: 20px;
}

td a:hover {
color: #008000
}

th {
background: #008000;
color: white;
}
legend {
  background-color: #008000;
  color: #fff;
  padding: 3px 6px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

label {
  text-align: right;
  width: 20%;
}
.msg{
  background-color: hsla(hue, saturation, lightness, alpha);
  margin-top: 18%;
  margin-right: 30%;
  margin-left: 13%;
  padding: 16px 25px;
  color: #053a07;
  font-size: 40px;
}